body{
    font: 14pt/1.5 'Kaushan Script', cursive;
    background: black;
    padding: 0;
    margin: 0;
    height: 80%;
}
#logo{
    padding: 10px 10px 0;
    max-width: 80%;
	position: relative;
	top: 0;
	left: 0;
}
#banner{
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    object-position: 50% 0%;
    margin-top: -15px;
}

#prof{
	position: center;
	max-width: 80%;
	width: 400px;
	height: auto;
}
nav{
    list-style: none;
    float: right;
    margin: 0;
    padding: 10px;
}
nav a{
    text-decoration: none;
    font-size: 32pt;
    font-weight: 100;
    padding-right: 10px;
    padding-left: 10px;
    color: #ccc;
}
nav a:hover,a:active,a:focus{
    color: white;
}

address {
	list-style: none;
    float: right;
    margin: 0;
    padding: 10px;
	padding-top: 70px;
}

address a {
	text-decoration: none;
	color: #ccc;
	font-size: 28pt
}

p {
	color: #ccc;
	font: 12pt/1.5 'Arial', sans-serif;
	float: center;
	margin: 10px;
}
address a:hover,a:active,a:focus {
	color: white;
}



/* BIO  */
div.bio {
	display: inline-block;
	background-color: #484848;
	border-radius: 8px;
	box-shadow: 0 0 0 2px #fff;
	margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
    }

.one a:link {
	color: #cd161c;
}

.one a:visited {
	color: #bc161c;
}
.biopic {
  width: 100%;
  position: relative;
}
.biopic img{
  width: 100%;
  max-width: 500px;
  position: absolute;
  top:200px; left:0; right:0; bottom:0;
  margin:auto;
  border: 5px solid #3c161c;
  border-radius: 2px;
}
/* PORTFOLIO */
/* @TODO: figure out how to use css grids and remove masonry */
.grid {
 display : grid;
    grid-template-columns: repeat(4, auto);
    grid-gap : 2em;
    padding : 2em;

    place-items : center;

    width : 70%;
    height : fit-content;

    margin : 0 auto;
    background-color: #25294a;

    text-align : center;
}
}

.grid-item {
    width : 292px;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    color: #555;
    font-weight: bold;
    transition: 0.3s;
    margin: 2px;
}

.grid-item:hover {
    cursor: pointer;
    opacity: 0.7;
}
.thumbnail-container {
    width : 100%;
    height : 80%;
    display : grid;
    place-items : center;
    margin-bottom : 20px;
}

.thumbnail-container img {
    width : 100%;
    box-shadow : 10px 10px 30px rgba(0,0,0,0.5);
}
/* The Modal (background) */
.modal {
  width: 100%; height: 100%; position: fixed; /*
  position: absolute ; 
    object-fit: cover;

  padding-top: 100px; 

  overflow: hidden; 
  padding : 10%;
   */

  overflow: auto; /* Enable scroll if needed */

  left: 0;
  top: 0;

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    padding-top : 30px;
    margin: auto;
    width: auto;
    height :  90vh;
    display: block;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
#close-button{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close-button:hover,
#close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* CONTACT */
.center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;

}
.center img {
  width: 300px;
  margin-right: 50px;
}

.caption p {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
}