body {
	font: 11px/1.25 "Open Sans", sans-serif;
	padding: 0px;
	color: #f0f0f0;
	background-color: #000;
	font-size: 100%;
	line-height: normal;
}

#premoheader {
	padding-top:20px;
	padding-left: 20px;
	width: 100%;
	height: auto;
	max-width: 1000px;
	max-height: 1000px;
}

#premobanner {
	margin-top: -15px;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

